body{
    font-family: 'Poppins';
    font-size: 13px;
}

/* ------------------navbar css start------------------ */
.navbar .nav-item .nav-link{
    color: rgb(41, 40, 40);
    padding: 25px;
}
.navbar{
    background-color: white;
}
.navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link.active{
    color: #006300;
    font-weight: bold;
}
@media(max-width: 991px){
    .navbar .nav-item .nav-link{
        padding: 10px;
    }
    .navbar {
        background-color: #d1e9de;
    }
}
/* ------------------navbar css end------------------ */

/* --------------------toggle button css start----------------------- */
.navbar-toggler {
    border: 0 !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}
.toggler-icon{
    background-color:  #006300;
    display: block;
    transition: all 0.2s;
}
.length-1, .length-3{
    width: 30px;
    height: 3px;
}
.length-2{
    width: 20px;
    height: 3px;
    margin-left: 10px;
}
.middle-bar{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .toggler-icon {
    background-color:  #006300;
}

/* --------------------toggle button css end----------------------- */

/* ------------------Common css start------------------ */
.main-color{
    color: #006300;
}
.main-head{
    color: #006300!important;
    width: 65%;
}
@media(max-width: 991px){
    .main-head{
        width: 100%;
    }
    .head-section h3 {
        width: 100%!important;
    }
    
}
.para-color{
    color: #646464;
}
.button-style{
    background-color: #006300;
    border: 1px solid #006300;
    color: white;
    border-radius: 6px;
    padding: 10px 20px!important;
    transition: 0.3s ease;
    border: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.button-style:hover{
    background-color: #e9fae9;
    color: #006300;
    border: 1px solid #006300;
}
.head-section h3{
    margin: 0 auto;
    width: 40%;
}
.head-section p{
    width: 70%;
    margin: 0 auto;
}
@media(max-width: 991px){
    .head-section p{
        width: 100%;
    }
}
/* ------------------Common css end------------------ */


/* ------------------home css start------------------ */
.home{
    margin-top: 50px;
    padding: 50px;
}
.home img{
    filter: brightness(28%);
    border-radius: 15px;
    height: 88vh!important;
}
.home .carousel-caption{
    top: 55%;
    transform: translateY(-50%);
}
.home .carousel-caption h1{
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
}
.home .carousel-caption p{
    font-size: 15px;
    width: 60%;
    margin: 0 auto;
    color: rgb(209, 209, 209);
    font-weight: lighter;
}
.home  .carousel-indicators{
    top: 80%;
}
.carousel-indicators button{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
}
.carousel-indicators button.active, .carousel-indicators button:hover, .carousel-indicators button:focus{
    width: 8px!important;
    height: 8px!important;
    border-radius: 50%;
    margin-top: 1px!important;
    background-color: white;
}
@media(max-width: 991px){
    .home{
        margin-top: 80px;
        padding: 10px;
    }
    .home img{
        border-radius: 15px;
        height: 50vh!important;
        width: 100%;
    }
    .home .carousel-caption h1{
        font-size: 26px;
        width: 100%;
    }
    .home .carousel-caption{
        top: auto;
        transform: translateY(-10%);
    }
    .home .carousel-caption p{
        font-size: 12px;
        width: 100%;
        margin: 0 auto;
    }
    .home  .carousel-indicators{
        top: 85%;
    }
}
/* ------------------home css end------------------ */

/* ------------------about css start------------------ */
.about{
    margin-top: 100px;
}
.about .about-para{
    width: 85%;
    text-align: justify;
}
.about .about-img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
.about .left-section{
    margin-top: 10%;
}
.about .right-section .row{
    margin-top: -30px;
}
.about .right-section .card{
    border: 0;
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    height: 100%;
}
.about .right-section .card .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #475B1D;
}
.about .about-story{
    margin-top: 100px;
}
.about-story h3{
    margin: 0 auto;
    width: 40%;
}
.about .about-story-para{
    width: 70%;
    margin: 0 auto;
}
.about .about-story .story-steps img{
    width: 50px;
    height: auto;
}
.about .about-story .story-steps h6{
    width: 40%;
}
.about .story-steps{
    margin-top: 50px;
}
.about .story-steps p{
    text-align: justify!important;
}
.about .number-bg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #578E57;
    padding: 7px;
}
.about .little-para{
    width: 40%;
    margin: 0 auto;
}
@media(max-width: 991px){
    .about{
        margin-top: 30px;
        padding: 10px;
    }
    .about .about-para{
        width: 100%;
        text-align: center;
    }
    .about .main-head{
        text-align: center;
    }
    .head-section img{
        margin: 0 auto;
        display: block;
    }
    .about .about-story{
        margin-top: 50px;
    }
    .about .about-img{
        width: auto;
        height: auto;
        margin-top: 30px;
    }
    .about .right-section .row{
        margin-top: 10px;
    }
    .about  .top-margin {
        margin-bottom: 10px;
    }
    .about .little-para{
        width: 100%;
    }
    .about .number-bg h3{
        margin-top: 3px;
    }
    .about .about-story .story-steps h6{
        width: 100%;
    }
}
/* ------------------about css end------------------ */

/* ------------------blogs-events css start------------------ */
.blogs-events{
    margin-top: 100px;
}
.blog-margin{
    margin-top: 200px;
    margin-bottom: 100px;
}
.blogs-events a{
    text-decoration: none;
}
.blogs-events .card{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 10px;
    border: 0;
    background-color: #CAD3CA;
}
.blogs-events .card button{
    padding: 8px 50px;
    margin: 0 auto;
    font-size: 12px;
    display: block;
}
.blogs-events .card button{
    background-color: #6a896a!important;
}
.blogs-events .card .date{
    font-size: 12px;
    color: #453C3C;
}
.blogs-events .blog-cards{
    margin-top: 50px;
}
.blogs-events .card-body{
    padding: 10px 10px 30px 10px;
}
@media(max-width: 991px){
    .blogs-events{
        justify-content: center;
        align-items: center;
    }
    .blogs-events .card{
        margin: 0 auto;
        display: block;
    }
}
/* ------------------blogs-events css end------------------ */

/* ------------------testimonial css start------------------ */
.testimonial{
    margin-top: 100px;
    background-color: #EEF5EE;
    padding: 100px;
}
.testimonial .testimonial-carousel{
    margin-top: 50px;
}
.testimonial-carousel .line{
    opacity: 0.6;
}
.testimonial .clients-card p{
    text-align: justify;
}
.testimonial .carousel-indicators{
    bottom: -90px;
  }
  .testimonial .client-img img{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
.testimonial .carousel-indicators button{
    background-color: #4C8E4C;
}
@media(max-width: 991px){
    .testimonial{
        padding: 50px 10px;
        margin-top: 50px;
    }
    .testimonial .testimonial-carousel{
        margin-top: 20px;
    }
    .testimonial .client-img img{
        margin-bottom: 15px;
        margin: 0 auto;
        display: block;
        margin-top: 40px;
    }
    .testimonial h6, .testimonial .clients-card p{
        text-align: center;
    }
    .testimonial h6{margin-top: 15px;}
    .testimonial .carousel-indicators{
        bottom: -54px;
      }
      .testimonial-carousel .line {
        margin: 0 auto;
        display: block;
      }
}
/* ------------------testimonial css end------------------ */

/* ------------------gallery css start------------------ */
.gallery{
    margin-top: 150px;
}
.gallery .gallery-carousel{
    margin-top: 50px;
}
.gallery .gallery-carousel img{
    width: 300px;
    height: 215px;
    object-fit: cover;
    border-radius: 10px;
}
.gallery .control-btn{
    background-color: #417941;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    top: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.gallery .carousel-control-prev{
    margin-left: -5%;
}
.gallery .carousel-control-next{
    margin-right: -5%;
}
@media(max-width: 991px){
    .gallery{
        margin-top: 50px;
        padding: 10px;
    }
    .gallery .gallery-carousel{
        margin-top: 30px;
    }
    .gallery .gallery-carousel img{
        width: auto;
        height: auto;
        margin-bottom: 10px;
    }
    .gallery .control-btn{
        width: 22px;
        height: 22px;
        top: 43%;
    }
}
/* ------------------gallery css end------------------ */

/* ------------------contact css start------------------ */
.contact {
    margin-top: 150px;
}
.contact  a{
    text-decoration: none;
}
.contact .contact-bg ul li{
    list-style: none;
}
.contact .contact-bg i{
    font-size: 15px;
}
.contact .icon-bg i{
    margin-left: 2px;
    color: white;
}
.contact .icon-bg{
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
    background-color: #006300;
    transition: 0.3s ease;
}
.contact .icon-bg:hover{
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.contact .contact-bg{
    background-color: #8FAF8F;
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact .contact-bg form input, .contact .contact-bg form textarea{
    border: 0;
    background-color: #ECF3EC;
    border: 0;
    padding: 15px;
    border-radius: 15px;
    font-size: 13px;
}
.contact .address li, .contact .address li a {
    color: #0C0F0C;
    transition: 0.3s ease;
}
.contact .address li a:hover{
    opacity: 0.7;
}
.contact .contact-bg form input::placeholder, .contact .contact-bg form textarea::placeholder{
    font-size: 13px;
    color: #BBBBBB;
}
.contact .contact-bg form{
    background-color: white;
    padding: 30px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    margin-top: -200px;
}
.contact .map h6{
    color: #0C0F0C;
}
.contact .map iframe{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
@media(max-width: 991px){
    .contact {
        margin-top: 50px;
    }
    .contact .contact-bg form{
        margin-top: -410px;
    }
    .contact .map h6{
        margin-top: 30px;
    }
}
/* ------------------contact css end------------------ */

/* ------------------footer css start------------------ */
.footer{
    background-color: #143614;
    padding-bottom: 30px;
}
.footer-contents{
    padding-top: 70px;
}
.footer a{
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}
.footer a:hover{
    opacity: 0.7;
}
.footer .menus a{
    padding: 15px;
    transition: 0.3s ease;
}
.footer .icon-bg i{
    margin-left: 2px;
    color: #006300;
    font-size: 15px;
}
.footer .icon-bg{
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.3s ease;
}
.footer hr{
    background-color: rgb(233, 226, 226);
}
@media(max-width: 991px){
    .footer{
        text-align: center;
    }
    .footer .d-flex{
        justify-content: center;
    }
    .footer h6{
        margin-top: 30px;
    }
}
/* ------------------footer css end------------------ */

.our-gallery{
    margin-top: 200px;
    margin-bottom: 100px;
}
.section {
	padding: 20px 50px;
}
.btn {
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
.vimeo {
	background-color: #0dcaf0;
}
.youtube {
	background-color: #dc3545;
}
